<!DOCTYPE html>
<html>
  <head>
    <title>PerfectCitySearch</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand|Roboto" rel="stylesheet">

  </head>

  <body>
    <div class="gutter">
        <%= yield %>
    </div>
  </body>
</html>
