<!DOCTYPE html>
<html>
  <head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6076517454440112",
        enable_page_level_ads: true
      });
    </script>
    <title>CitySleuth USA</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand|Roboto|Fredoka+One|Lato" rel="stylesheet">
  </head>

  <body>
      
    <div>
        <%= yield %>
    </div>
  </body>
</html>
